args==0.1.0
asn1crypto==0.24.0
beautifulsoup4==4.6.0
bottle==0.12.13
certifi==2018.10.15
chardet==3.0.4
checkbox-ng==0.23
checkbox-support==0.22
clint==0.5.1
command-not-found==0.3
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
distro-info===0.18ubuntu0.18.04.1
docker==2.5.1
docker-pycreds==0.2.1
docopt==0.6.2
Glances==2.11.1
greenlet==0.4.12
guacamole==0.9.2
html5lib==0.999999999
httplib2==0.18.0
idna==2.7
influxdb==4.1.1
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
lxml==4.2.1
MarkupSafe==1.0
matplotlib==2.1.1
msgpack==0.5.6
mutagen==1.41.1
neovim==0.2.0
netifaces==0.10.4
numpy==1.13.3
olefile==0.45.1
padme==1.1.1
pexpect==4.2.1
Pillow==6.0.0
plainbox==0.25
ply==3.11
psutil==5.4.2
pyasn1==0.4.2
PyAutoGUI==0.9.42
pycairo==1.16.2
pycrypto==2.6.1
pycryptodomex==3.4.7
pycups==1.9.73
pyftpdlib==1.5.4
PyGetWindow==0.0.4
pygobject==3.26.1
PyMsgBox==1.0.6
pyparsing==2.2.0
PyRect==0.1.4
PyScreeze==0.1.20
pysmi==0.2.2
pysnmp==4.4.3
pystache==0.5.4
python-apt==1.6.3+ubuntu1
python-dateutil==2.6.1
python-debian==0.1.32
python3-xlib==0.15
PyTweening==1.0.3
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.20.0
requests-unixsocket==0.1.5
scdl==1.6.12
scour==0.36
SecretStorage==2.3.1
six==1.11.0
slacker==0.9.65
speedtest-cli==2.0.0
ssh-import-id==5.7
termcolor==1.1.0
ubuntu-drivers-common==0.0.0
ufw==0.35
urllib3==1.24
vboxapi==1.0
webencodings==0.5
websocket-client==0.44.0
xkit==0.0.0
XlsxWriter==0.9.6
